.navbar {
  background-color: #80deea !important;
  box-shadow: 0 2px 2px rgba(7, 0, 0, 0.651);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.nav-item {
  padding: 0 20px;
  font-size: 20px;
  border-radius: 10px;
}
.content {
  padding: 0;
}
.nav-item:hover {
  background-color: #a6e6ff !important;
  color: #000;
}
.nav-link {
  color: #fff;
}
.navbar-brand {
  color: #fff !important;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-brand h2 {
  margin-left: 15px;
  margin-bottom: 0px;
}
.slide {
  width: 100%;
  position: relative;
  margin-top: 76px;
}
.slide img {
  width: 100%;
}

.slide-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.on-top {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 120px;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

.on-top-p{
  margin: 50px 40px 0 90px;
}

.on-top img {
  border-radius: 10px;
  width: 500px;
}

.on-top h1 {
  font-size: 50px;
  font-weight: 600;
  padding-top: 10px;
}

.on-top h2 {
  padding-bottom: 0px;
  font-size: 25px;
  font-weight: 200;
}

.my-content {
  min-height: 660px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(119, 180, 238);
  color: white;
}

.qq {
  padding-bottom: 0px !important;
}

.my-content .heading {
  font-size: 50px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}

.my-content .sub-heading {
  margin-bottom: 5px;
}

.my-content1 {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(255, 255, 255);
}

.my-content1 .heading {
  font-size: 50px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}

.my-content1 .sub-heading {
  margin-bottom: 5px;
}

.team-container {
  position: relative;
  width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}
.team-container .card {
  width: 250px;
  height: 215px;
  position: relative;
  background-color: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0 0 0 0.5);
  transition: 0.3s ease-in-out;
}
.team-container .card1:hover,
.team-container .card2:hover,
.team-container .card3:hover,
.team-container .card4:hover,
.team-container .card5:hover {
  height: 320px;
}

.team-container .card .imgBx {
  position: relative;
  width: 200px;
  height: 220px;
  top: -60px;
  left: 10px;
  box-shadow: 0 5px 20px rgba(0 0 0 0.2);
}
.team-container .card .imgBx img {
  border-radius: 5px;
}
.img-about {
  width: 200px;
  height: 220px;
}
.team-container .card .card-content {
  position: relative;
  text-align: center;
  margin-top: -100px;
  padding: 10px;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.15s ease-in-out;
}
.team-container .card:hover .card-content {
  visibility: visible;
  opacity: 1;
  margin-top: -60px;
  transition-delay: 0.3s;
}

.my-search-bar {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.my-search-bar input {
  margin-left: 10%;
  margin-right: 10px;
  width: 60%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 20px;
  font-size: 20px;
  font-weight: bold;
  color: #111;
  background-color: #fff;
  box-shadow: 0 5px 20px rgba(0 0 0 0.2);
}

.my-search-bar select {
  width: 20%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 20px;
  font-size: 20px;
  font-weight: bold;
  color: #111;
  background-color: #fff;
  box-shadow: 0 5px 20px rgba(0 0 0 0.2);
}

.product-content {
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
  font-weight: 600;
}

.product-content p {
  margin-bottom: 0px;
}

.product-content img {
  width: 250px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0 0 0 0.2);
}

.card-body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #eeeeee;
  border-radius: 20px;
}

.container-card {
  position: relative;
  width: 1500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.container-card .card {
  width: 100%;
  background: #fff;
  border-radius: 15px;
}

.container-card .card .imgBx2 {
  position: relative;
  width: 100%;
  height: 310px;
  overflow: hidden;
}

.container-card .card .imgBx2 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
  transform-origin: right;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.container-card .card:hover .imgBx2 img {
  transform: scale(1.3);
}

.container-card .card .content-card {
  padding: 10px;
}
.container-card .card .content-card .productName h3 {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin: 5px 0;
}
.container-card .card .content-card .price-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-card .card .content-card .price-rating h2 {
  font-size: 20px;
  color: #ff2020;
  font-weight: 500;
}

.container-card .card .content-card .price-rating .fa {
  color: #ffd513;
  cursor: pointer;
}

.action {
  position: absolute;
  top: 10px;
  right: 10px;
}

.action li {
  position: relative;
  list-style: none;
  width: 40px;
  height: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  cursor: pointer;
  transition: transform 0.4s;
  z-index: -1;
  border-radius: 5px;
}

.container-card .card:hover .action li {
  z-index: 1;
}

.action li:hover {
  background: #ff2020;
  color: #fff;
}

.action li span {
  position: absolute;
  right: 50px;
  top: 50px;
  transform: translateY(-50%) translateX(-20px);
  white-space: nowrap;
  padding: 4px 60px;
  background: #fff;
  color: #333;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
}

.action li:hover span {
  opacity: 1;
  transform: translateY(-160%) translateX(0px);
}

.action li span::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -4px;
  width: 8px;
  height: 8px;
  background: #fff;
  transform: translateY(-50%) rotate(45deg);
}

.footer {
  padding: 10px;
  text-align: center;
  background-color: #003f5c;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.spinner-border {
  height: 100px;
  width: 100px;
}
a {
  text-decoration: none;
}
input,
select {
  height: 35px !important;
}
#uncontrolled-tab-example-tab-products {
  color: black !important;
}
.nav-item button {
  color: black !important;
}
.nav-tabs {
  background-color: cadetblue;
}

.products-info {
  display: flex;
  justify-content: space-between;
  border: none;
  align-items: center;
  margin: 0;
}
.products-info img {
  height: 50vh;
  border-radius: 10px;
}
.product-price {
  padding: 20px 40px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 18px;
  box-shadow: 6px 6px 12px 1px rgba(0, 0, 0, 0.349);
  margin-left: 20px;
}
.product-price h2 {
  font-size: 5.5vh;
}
p {
  margin: 0px;
}
.product-price button {
  color: white;
  border-radius: 5px;
  padding: 10px 0;
  border: none;
  width: 100%;
}
.product-price button:hover {
  color: rgba(126, 0, 208, 1);
  background: white;
  border: 2px solid rgba(126, 0, 208, 1);
  font-weight: 600;
}
.register-form {
  border-radius: 5px;
}
.login-form {
  border-radius: 5px;
}
.btn-login {
  background: #fa7844;
  color: white;
  border-radius: 5px;
  padding: 10px 0;
  border: none;
  width: 30%;
}
.btn-login:hover {
  background: white;
  color: #fa7844;
  border: 2px solid #fa7844;
  font-weight: 600;
}
.btn-register {
  background: #fa7844;
  color: white;
  border-radius: 5px;
  padding: 10px 0;
  border: none;
  width: 30%;
}
.btn-register:hover {
  background: white;
  color: #fa7844;
  border: 2px solid #fa7844;
  font-weight: 600;
}
.order-table {
  width: 80%;
  margin: 20px auto;
}
.order-transaction3 {
  position: relative;
  display: flex;
}

.order-transaction2 {
  position: relative;
  margin-bottom: 50px;
  padding: 50px 50px 80px 50px;
  border: 2px solid rgba(126, 0, 208, 1);
  border-radius: 10px;
}

.order-transaction {
  display: flex;
  position: relative;
  margin-bottom: 50px;
  padding: 50px 50px 80px 50px;
  border: 2px solid rgba(126, 0, 208, 1);
  border-radius: 10px;
}

.order-price {
  position: absolute;
  bottom: 40px;
  right: 50px;
}

.hr-position{
  position: absolute;
  width: 91%;
  bottom: 72px;
}

.page-info {
  color: #fff;
}

.admin-container{
  width: 80%;
  margin: 20px auto;
}