.gradient_bg {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    34deg,
    rgba(0, 206, 255, 1) 0%,
    rgba(126, 0, 208, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    34deg,
    rgba(0, 206, 255, 1) 0%,
    rgba(126, 0, 208, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    34deg,
    rgba(0, 206, 255, 1) 0%,
    rgba(126, 0, 208, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00CEFF', endColorstr='#7E00D0', GradientType=1 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    34deg,
    rgba(0, 206, 255, 1) 0%,
    rgba(126, 0, 208, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    34deg,
    rgba(0, 206, 255, 1) 0%,
    rgba(126, 0, 208, 1) 100%
  );
}
